html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    color: #444444;
    font-size: 18px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button, select {
    border: none;
    font: inherit;
    min-width: 64px;
    height: 36px;
    color: rgba(0, 0, 0, 0.87);
    outline: 0;
    border-bottom: 1px solid silver;
    vertical-align: middle;
    white-space: nowrap;
    overflow: visible;
    transition-duration: 0.28s;
    cursor: pointer;
}

button {
    padding: 0 16px;
    background-color: #f5f5f5;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
button:hover {
    background-color: #e5e5e5;
}

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 0 0 4px silver;
    z-index: 2;
}

.main-header span {
    user-select: none;
}
.main-header span + span {
    margin-left: 20px;
}

.main-container {
    position: relative;
    flex: 1;
}
.main-container-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.log-container {
    position: relative;
    background: #f7f7f7;
    color: gray;
    flex: 30% 0;
    min-width: 300px;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 4px silver;
    text-align: left;
    user-select: none;
    z-index: 1;
}

.dialog-container {
    position: relative;
    background: white;
    flex: 1;
    height: 100%;
    overflow: auto;
}

.dialog-header {
    background-color: #eeeeee;
    padding: 10px 40px;
    text-align: center;
}

.dialog-section {
    padding: 20px 40px;
}

.dialog-footer {
    background: #eeeeee;
    padding: 10px 40px;
    text-align: center;
}

.statistics-container {
    position: relative;
    background: #f7f7f7;
    color: gray;
    flex: 15% 0;
    min-width: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 4px silver;
    text-align: left;
    user-select: none;
    z-index: 1;
}

.statistics-group {
    border: 1px solid silver;
    border-radius: 7px;
    background: white;
    margin-bottom: 10px;
    overflow: hidden;
}

.statistics-group + .statistics-group {
    margin-top: 20px;
}

.statistics-group-caption {
    line-height: 20px;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px 7px 0 0;
    background: #eeeeee;
    transition: 0.28s;
}

.statistics-group-caption:hover {
    background: #dddddd;
}

.statistics-group-data {
    border-radius: 7px;
}

.statistics-list-row {
    line-height: 20px;
    padding-left: 10px;
    display: flex;
    height: 48px;
    align-items: center;
}

.statistics-list-row + .statistics-list-row {
    border-top: 1px solid #eeeeee;
}

.statistics-list-caption {
    flex: 60% 0;
}

.statistics-list-value {
    white-space: nowrap;
    flex: 20% 0;
}

.statistics-list-dimension {
    flex: 20% 0;
    margin-left: 5px;
}

.bad-condition {
    color: darkred;
}

.good-condition {
    color: green;
}

.main-footer {
    position: relative;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 0 0 4px silver;
    z-index: 2;
}

.list-item {
    padding: 10px 0;
}
.list-item + .list-item {
    border-top: 1px solid #eeeeee;
}
