html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    color: #444444;
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: inherit !important;
}

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    position: relative;
    text-align: center;
    background: #f0f0f0;
    box-shadow: 0 0 4px silver;
    z-index: 2;
}

.main-header span {
    display: inline-block;
    padding: 10px;
    cursor: default;
}

.main-container {
    position: relative;
    flex: 1;
}
.main-container-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.log-container {
    position: relative;
    background: #f7f7f7;
    color: gray;
    flex: 30% 0;
    min-width: 300px;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 4px silver;
    text-align: left;
    user-select: none;
    z-index: 1;
}

.dialog-container {
    position: relative;
    background: white;
    flex: 1;
    height: 100%;
    overflow: auto;
}

.statistics-container {
    position: relative;
    background: #f7f7f7;
    color: gray;
    flex: 15% 0;
    min-width: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 4px silver;
    text-align: left;
    user-select: none;
    z-index: 1;
}

.statistics-group {
    border: 1px solid silver;
    border-radius: 7px;
    background: white;
    margin-bottom: 10px;
    overflow: hidden;
}

.statistics-group + .statistics-group {
    margin-top: 20px;
}

.statistics-group-caption {
    line-height: 20px;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px 7px 0 0;
    background: #eeeeee;
    transition: 0.28s;
}

.statistics-group-caption:hover {
    background: #dddddd;
}

.statistics-group-data {
    border-radius: 7px;
}

.statistics-list-row {
    line-height: 20px;
    padding-left: 10px;
    display: flex;
    height: 48px;
    align-items: center;
}

.statistics-list-row + .statistics-list-row {
    border-top: 1px solid #eeeeee;
}

.statistics-list-caption {
    flex: 60% 0;
}

.statistics-list-value {
    white-space: nowrap;
    flex: 20% 0;
}

.statistics-list-dimension {
    flex: 20% 0;
    margin-left: 5px;
}

.bad-condition {
    color: darkred;
}

.good-condition {
    color: green;
}

.main-footer {
    position: relative;
    text-align: center;
    background: #f0f0f0;
    box-shadow: 0 0 4px silver;
    z-index: 2;
}

.main-footer > span {
    display: inline-block;
    padding: 10px;
    cursor: default;
}

.list-item {
    padding: 10px 0;
}
.list-item + .list-item {
    border-top: 1px solid #eeeeee;
}
