html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    color: #444444;
    font-size: 18px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button, select {
    border: none;
    font: inherit;
    min-width: 64px;
    height: 36px;
    color: rgba(0, 0, 0, 0.87);
    outline: 0;
    border-bottom: 1px solid silver;
    vertical-align: middle;
    white-space: nowrap;
    overflow: visible;
    transition-duration: 0.28s;
    cursor: pointer;
}

button {
    padding: 0 16px;
    background-color: #f5f5f5;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
button:hover {
    background-color: #e5e5e5;
}

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 0 0 4px silver;
    z-index: 2;
}

.main-header span {
    user-select: none;
}
.main-header span + span {
    margin-left: 20px;
}

.main-container {
    position: relative;
    flex: 1;
}
.main-container-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.dialog-container {
    position: relative;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    overflow: auto;
}

.statistics-container {
    position: relative;
    background: #f7f7f7;
    color: gray;
    flex: 15% 0;
    min-width: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 4px silver;
    text-align: left;
    user-select: none;
}

.main-footer {
    position: relative;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 0 0 4px silver;
    z-index: 2;
}
